{% extends 'base.html.twig' %}

{% block title %}Image list{% endblock %}

{% block body %}
    {% if pagination is not empty %}
    <table>
        <thead>
            <tr>
                <th>Row num.</th>
                <th>Image</th>
                <th>Image name</th>
                <th>User name</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
                {% for image in pagination %}
                    <tr>
                        <td>{{ loop.index + (pagination.currentPageNumber - 1) * pagination.itemNumberPerPage }}</td>
                        <td><img src="data:{{ image.mimeType }};base64,{{ image.imageFile|base64Encoded }}"></td>
                        <td>{{ image.imageName }}</td>
                        <td>{{ image.userName }}</td>
                        <td>{{ image.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    {% else %}
        No images uploaded yet!
    {% endif %}

    <div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock body %}
