{% extends 'base.html.twig' %}

{% block title %}Upload image{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile) }}
        {{ form_errors(form.imageFile) }}

        <button type="submit" class="btn btn-primary">Upload image</button>
    {{ form_end(form) }}
{% endblock body %}
