<div class="flash-messages">
    {% for key in app.session.flashBag.keys %}
        {% for flash_message in app.session.flashBag.get(key)%}
            <div class="flash-message flash-{{key}}">
                {{ flash_message|trans|raw }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
