<a href="{{ path('image_list') }}">Image list</a>

{% if app.user %}
    <a href="{{ path('image_upload') }}">Upload an image</a>
    <br>
    {{ app.user.userName }}
    (<a href="{{ path('logout') }}">Logout</a>)
{% else %}
    <a href="{{ path('login') }}">Home</a>
{% endif %}
